.main {
    display: flex;
    justify-content: center;    
    gap: 20px;
}

.left{
    display: grid;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    grid-template-columns: 800px;
    gap: 20px;
    height: 100%;
}

.right {
    display: grid;
    grid-template-rows: .25fr .25fr .25fr;
    gap: 20px;
}


.middle {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    height: 1100px;
}

.grid-item {
    height: 80%;
}